* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 700px;
    height: 500px;
    margin: auto;
    font-size: 20px;
}

table {
    width: 700px;
    border-spacing: 80px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: darkgrey;
}

th, td {
    padding: 3px;
}

h1 {
    padding: 10px 0px;
}
